mixin matchNode(matches, mbom)
  for match in matches
    div.node.clearfix
      - var vclass = match.videos && match.videos.length !== 0 ? [] : ['novideo'];
      if vclass.length === 0
        a.match-link(href="/tournamentDetail?"+stringify({tournamentId:tournament.id, s:match.id.s, r:match.id.r, m:match.id.m}) alt="查看视频" title="查看视频")
      ul.match.list-group(class=vclass)
        - var teams = tournament.getMatchTeams(match);
        if teams.length
          - var class1 = match.m[0] > match.m[1] ? ["winner"] : [];
          - var class2 = match.m[0] < match.m[1] ? ["winner"] : [];
          li.list-group-item.opponent(class=class1)
            span= teams[0].name
            span.pull-right.score= match.m[0]
          li.list-group-item.opponent(class=class2)
            span= teams[1].name
            span.pull-right.score= match.m[1]
        else
          li.list-group-item.opponent
            | N/A
          li.list-group-item.opponent
            | N/A
    if mbom
      div.wtf(style="padding-top:"+mbom+"px;")
div.bracket.wb.clearfix.panel.panel-default
  div.title.panel-heading 胜者组
  div.panel-body.match-body
    - var r = 1;
    - var nteams = tournament.teams.length;
    - var currteams = nteams;
    - while (r <= 8)
      - var radio = nteams / currteams;
      - var mid = radio / 2;
      - var matches = tournament.tournament.findMatches({s:1, r:r});
      - if (matches.length === 0) break;
      - var mtop = (r-1)*32 + (mid-1)*32;
      - var mbom = (r-1)*2*32;
      div.round
        h5.roundName= "第"+r+"轮"
        div.clearfix(style="padding-top:"+mtop+"px;")
          +matchNode(matches, mbom)
      - r += 1
      - currteams /= 2;
     div.round
       h5.roundName 决赛
       - var r = 1;
       - while (r <= 8)
         - var matches = tournament.tournament.findMatches({s:3, r:r});
         - if (matches.length === 0) break;
         - var mtop = (r-1)*2*32;
         +matchNode(matches)
         - r += 1

div.bracket.wb.clearfix.panel.panel-default
  div.title.panel-heading 败者组
  div.panel-body
    - var r = 1;
    - while (r <= 8)
      - var matches = tournament.tournament.findMatches({s:2, r:r});
      - if (matches.length === 0) break;
      - var mtop = r % 2 === 1 ? 32: 0;
      div.round
        h5.roundName= "第"+r+"轮"
        div.clearfix(style="padding-top:"+mtop+"px;")
          +matchNode(matches)
      - r += 1

div.hint
  | （点击比赛查看相应视频。灰色比赛暂无可观看视频。）