mixin makeAuthorIcon(authorName, height, width)
  a.author-link(href="/author/"+authorName)
    img.author-icon(src="/img/author/"+authorName+".jpg" height=height width=width alt=authorName title=authorName)

mixin makeList(videos, showAuthorIcon, id)
  div.list-group.video-list(id=id)
    each video in videos
      span.list-group-item
        a.video-link(href="/video/"+video.id)
        if showAuthorIcon
          +makeAuthorIcon(video.authorName, "32px", "32px")
        != video.title
        img.pull-right.video-icon(src='/img/video_icon.png' height="24" width="24" alt="video icon" title="video icon" style="margin-left:16px")
        span.pull-right= video.formattedPublished

 mixin makePageButton()
   #pagebutton.btn-group.pull-right
    - var prefix='./p/'
    - if (req.params.page) prefix='./';
    - if (page != 1)
      a(type="button" class="btn btn-default" href=prefix+(page-1)) 上一页
    a(type="button" class="btn btn-default" href=prefix+(page+1)) 下一页

mixin makeFollowAuthorButton(user, authorName, req, size)
  form.display-inline(method='POST' action='/togglefollowing')
    input(type='hidden', name='_csrf', value=token)
    input(type='hidden', name='authorName', value=authorName)
    input(type='hidden', name='redirect', value=req.url)
    if user && user.following.indexOf(authorName) !== -1
      button.btn.btn-primary(type='submit', class="btn-"+size) 已关注
    else
      button.btn.btn-success(type='submit', class="btn-"+size) 关注

mixin makeAuthorBanner(authorName, user, req)
    div
      +makeAuthorIcon(authorName, "24", "24")
      = authorName
      +makeFollowAuthorButton(user, authorName, req, 'xs')
